<div *ngIf="showItem" [ngClass]="{'selected-right' : menuItem.selected && menuItem.labelDirection === 'right',
                                  'selected-left' : menuItem.selected && menuItem.labelDirection === 'left'}"
                    [ngStyle]="{'background-color': menuItem.backgroundColor ? menuItem.backgroundColor : 'inherit', 'color': menuItem.color ? menuItem.color : 'inherit'}">
    <div class="menu-wrapper" [ngClass]="{'cursor-pointer': menuItem.clickable}" [title]="menuItem.label"
                              [ngStyle]="{'flex-direction': menuItem.labelDirection === 'left' ? 'row' : 'row-reverse' }"
        (click)="itemClick()">
        <div class="menu-icon">
            <i [ngClass]="menuItem.icon" aria-hidden="true"></i>
        </div>
        <div *ngIf="menuItem.showLabel" class="menu-label" [ngStyle]="{'float': menuItem.labelDirection}">
            <span>{{menuItem.label}}</span>
        </div>
    </div>
</div>
<h1>Hi</h1>
